.atas{
		width: 1525px;
        height: 50px;
        border: 1px solid black;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: brown;
	}
	.atas-text{
		text-align: center;
		font-family: arial;
		font-weight: bold;
		color: white;
	}
	.kiri{
		float: left;
        width: 500px;
        height: 600px;
        border: 1px solid black;
        background: #DEB887 ;
        display: flex;
        justify-content: center;
        
    }
    .kanan{
        width: 1525px;
        height: 600px;
        border: 1px solid black;
    }
    .kanan-text{
    	float: left;
    }
    .footer{
    	width: 1525px;
        height: 50px;
        border: 1px solid black;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: brown;
    }
    .footer-text{
		text-align: center;
		font-family: arial;
		font-weight: bold;
		color: white;
	}
    .span-text{
		color: orange;
	}
    .input {
		width: 100%;
	}
	#Nama,
	#Nim,
	#Alamat{
		width: 90%;
	}
	#pesan {
		height: 100px;
	}
	input {
		margin-bottom: 15px;
	}
	.output {
		width: 100%;
		overflow: auto;
	}
	p{
		margin-top: 5px;
	}
	.button {
		margin-bottom: unset;
		margin-top: 15px;
	}