<link rel="stylesheet" type="text/css" href="layout.css">

<div id="header">Bagian Header</div>
<div id="menu">Bagian Menu</div>
<div id="sidebar">Bagian Sidebar</div>
<div id="konten">Bagian Konten</div>
<div id="footer">Bagian footer</div>